.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px; 
}
.image-link {
  text-decoration: none;
}
.link-styling {
  text-decoration: none; color: blue;
}
.center {
  text-align: center;
}
.blockquote-container {
  padding: 2px 20px; background: #fafafa;
}
.book-report-cover {
  text-align: center; margin: 0 0 80px;
}
.image-center {
  display: block; margin: 0 auto;
}
.book-report-container {
  width: 500px; margin: 20px auto; padding: 30px; background-color: #fafafa;
}
.book-cover {
  float: left; margin-right: 40px;
}
.book-title {
  font-style: italic; font-size: 20px;
}
.book-report-opener {
  font-style: normal; font-size: 24px; font-weight: bold; color: red;
}